@page "/"
@using WagerMate.Services.auth
@using WagerMate.Services.betting
@using WagerMate.Services.user
@rendermode  InteractiveServer
@inject IBetService BetService;
@inject IUserService UserService;
@inject ICaseService CaseService;
@inject ICookieService CookieService;
@inject IUserBetService UserBetService;
@inject NavigationManager Navigation

<PageTitle>Bet Overview</PageTitle>

<h1>Bet Overview</h1>

<div id="betOverviewPage">
    <div id="placeholder">
        <h2>This is the perfect place to showcase your amazing advert!</h2>
    </div>
    <div id="creatNewBet">
        <h2> Create a new bet here</h2>
        <button class="btn btn-primary" @onclick="ShowPopup">New Bet</button>
    </div>

    @* hier sind schon die checkboxen aer die werden später erste gerendert?!??!? *@
    <div class="check-box-line">
        <div class="bet-state">
            <label for="Accepted">Accepted Bets</label>
            <input type="checkbox" id="Accepted" @bind="DisplayAcceptedBets" />
        </div>

        <div class="bet-state">
            <label for="Pending">Pending Bets</label>
            <input type="checkbox" id="Pending" @bind="DisplayPendingBets" />
        </div>

        <div class="bet-state">
            <label for="Closed">Closed Bets</label>
            <input type="checkbox" id="Closed" @bind="DisplayClosedBets" />
        </div>
    </div>
    
    @* Listing the bets of the user: *@
    <div id="allBets">
        <h2>Here are your bets:</h2>
        <div id="allBetsLayout">
            @foreach (var bet in _bets)
            {
                @if ((bet.State == State.Active && DisplayAcceptedBets) || 
                     (bet.State == State.Closed && DisplayClosedBets) ||
                     (bet.State == State.Pending && DisplayPendingBets)
                )
                {
                    <div id="individualBet">
                        <strong>Title:</strong> @bet.Title
                        <br/>
                        <strong>Description:</strong> @bet.Description
                        <br/>
                        <strong>State:</strong> @bet.State
                        <br/>
                        <strong>Created:</strong> @bet.Created.ToShortDateString()
                        <br/>
                        <strong>Expires:</strong> @bet.Expiration.ToShortDateString()
                        <br/>
                        <strong>State:</strong> @bet.State.ToString();
                        <br/>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Popup Form -->
@if (_isPopupVisible)
{
    <div id="popup-overlay" @onclick="HidePopup" class="active">
        <div id="popup-content" @onclick:stopPropagation="true">
            <h2 id="h2PopUpCreateNewBet">Create New Bet</h2>
            <br/>
            <br/>
            <label>Title:</label><br/>
            <input type="text" @bind="_formBetDetails.NewBetTitle"/><br/><br/>
            <label>Description:</label><br/>
            <input type="text" @bind="_formBetDetails.NewBetDescription"/><br/><br/>
            <label>Bet Amount:</label><br/>
            <input type="number" @bind="_formBetDetails.NewBetMoney"/><br/><br/>
            <label>Set Expiration Date:</label><br/>
            <input type="date" @bind="_formBetDetails.NewBetExpiration"/><br/><br/>

            <label>Your Expected Case</label><br/>
            <input type="text" @bind="_formBetDetails.CaseBetCreator"/><br/><br/>
            
            <form>
                <div>
                    @for (int i = 0; i < _dynamicInputs.Count; i++)
                    {
                        int index = i;
                        <input type="text"  @oninput="(e) => UpdateInputValue(index, e.Value.ToString())"/>
                    }

                </div>
                <button type="button" @onclick="AddInputField">Add Entry</button>
            </form>

            <button class="btn btn-success" @onclick="CreateNewBet">Create Bet</button>
            <button class="btn btn-secondary" @onclick="HidePopup">Cancel</button>

            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <br/>
                <br/>
                <div class="alert alert-danger">
                    @ErrorMessage
                </div>
            }

        </div>
    </div>
}

@code{

    private List<Bet> _bets = new();
    private bool _isPopupVisible;
    private bool _firstLogin = true;
    private User? _loggedInUser = new();
    private FormBetDetails _formBetDetails = new();
    private string? ErrorMessage { get; set; }

    // Define properties and fields
    private static int MaxFields { get; set; } = 5;
    private List<string> _dynamicInputs = new List<string>(MaxFields);

    // Method to add a new input field
    private void AddInputField()
    {
        if (_dynamicInputs.Count < MaxFields)
        {
            _dynamicInputs.Add(string.Empty);
        }
        else
        {
            // Optionally alert the user if the max is reached
            Console.WriteLine("Maximum number of fields reached.");
        }
    }

    private void UpdateInputValue(int index, string value)
    {
        if (index >= 0 && index < _dynamicInputs.Count)
        {
            _dynamicInputs[index]=value; 
        }
    }


    private void ResetFields()
    {
        _dynamicInputs.Clear(); // Clears all input fields
    }

    public class FormBetDetails
    {
        public string NewBetTitle { get; set; } = null!;
        public string NewBetDescription { get; set; } = null!;
        public uint NewBetMoney { get; set; }
        public DateTime NewBetExpiration { get; set; } = DateTime.Now;
        public string CaseBetCreator { get; set; } = null!;
    }

    private void ShowPopup()
    {
        _isPopupVisible = true;
        _formBetDetails = new FormBetDetails();
        StateHasChanged();
    }

    private void HidePopup()
    {
        _isPopupVisible = false;
        StateHasChanged();
        ResetFields();
    }


    private void CreateNewBet()
    {
        ErrorMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(_formBetDetails.NewBetTitle) ||
            string.IsNullOrWhiteSpace(_formBetDetails.NewBetDescription) ||
            _formBetDetails.NewBetMoney <= 0 ||
            _formBetDetails.NewBetExpiration == default)
        {
            ErrorMessage = "Please fill out all fields correctly before creating a new bet.";
            return;
        }

        var newBet = new Bet
        {
            Title = _formBetDetails.NewBetTitle,
            Description = _formBetDetails.NewBetDescription,
            InvitationCode = "13df870a-b1c7-4a1b-8183-29904a1e36ae", //TODO: Add real UUID 
            Created = DateTime.Now,
            Expiration = _formBetDetails.NewBetExpiration,
            Access = Access.Private,
            State = State.Pending
        };
        if (_loggedInUser == null) return;

        try
        {
            // creating Bet, then Case, then UserBet
            var createdBet = BetService.CreateBet(newBet);

            for (var i = 0; i < _dynamicInputs.Count; i++)
            {
                CaseService.CreateCase(new Case(createdBet.Id, _dynamicInputs[i]));
            }

            UserBet userBet = new UserBet();
            userBet.Bet_Id = createdBet.Id;
            userBet.User_Id = _loggedInUser.Id;
            userBet.Amount = _formBetDetails.NewBetMoney;
            var creatorcaseId = CaseService.CreateCase(new Case(createdBet.Id, _formBetDetails.CaseBetCreator));
            userBet.Case_Id = creatorcaseId;
            UserBetService.CreateUserBet(userBet);
        }
        catch (Exception)
        {
            Console.WriteLine("BetOverview: service failed");
        }

        HidePopup();
        StateHasChanged();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await CookieService.RedirectToLogin("CookieID", Navigation);
        var value = await CookieService.GetCookieByName("CookieID");
        if (_firstLogin)
        {
            _loggedInUser = UserService.GetUserIfPasswordExists(value);
            if (_loggedInUser != null)
            {
                _firstLogin = false;
                RenderData();
            }
        }
    }

    void RenderData()
    {
        try
        {
            if (_loggedInUser == null) return;
            _bets = BetService.GetBetsByUserId(_loggedInUser.Id);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"BetOverview: Error fetching bets - {ex.Message}");
        }
    }

    private bool DisplayAcceptedBets { get; set; } = true;
    private bool DisplayPendingBets { get; set; } = true;
    private bool DisplayClosedBets { get; set; } = false;
    
}