@page "/"
@using WagerMate.Data.bet
@using WagerMate.Data.enums
@using WagerMate.Data.user
@using WagerMate.Services.betting
@using WagerMate.Services.user
@rendermode  InteractiveServer
@inject IBetService BetService;
@inject IUserService UserService;
@inject ICaseService CaseService;
@inject ICookieService CookieService;
@inject IUserBetService UserBetService;
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

@inherits BasePage;

@inject IBetSettlingService BetSettlingService
@inject IWinnerService WinnerService

<PageTitle>Bet Overview</PageTitle>

<div id="pageHeader">
    <h1>Bet Overview</h1>
</div>

<!-- Popup Form Bet Details-->
@if (_isDetailsPopupVisible)
{
<div id="popup-overlay" class="active">
    <div id="popup-content" @onclick:stopPropagation="true">
        <h2 id="h2PopUpBetDetails">Bet Details</h2>
        <div class="bet-details-container">
            <div class="bet-detail">
                <label class="detail-label">Title:</label>
                <span class="detail-value">@_betPopup.Title</span>
            </div>
            <div class="bet-detail">
                <label class="detail-label">Description:</label>
                <span class="detail-value detail-value-description">@_betPopup.Description</span>
            </div>
            <div class="bet-detail">
                <label class="detail-label">Selected Option:</label>
                <span class="detail-value">@_popupUserCase.Casetype</span>
            </div>
            @if (_betPopup.State != State.Closed)
            {
            <div class="bet-detail">
                <label class="detail-label">Bet Amount:</label>
                <span class="detail-value">@_userbetPopup.Amount</span>
            </div>
            }
            else
            {
            // winning or losing amount
            if (_popupDetailsWinner != null)
            {
                <div class="bet-detail">
                    <label class="detail-label">Bet Amount:</label>
                    <span class="detail-value">@_userbetPopup.Amount</span>
                </div>
                <div class="bet-detail">
                    <label class="detail-label">Winning Amount:</label>
                    <span class="detail-value">@_popupDetailsWinner.Amount</span>
                </div>
            }
            else
            {
            <div class="bet-detail">
                <label class="detail-label">Lost Amount:</label>
                <span class="detail-value">@_userbetPopup.Amount</span>
            </div>
            }

            @if (_winnersList.Count > 0) {
            <div class="winnerList">
                <div class="winner-header">
                    @if(_winnersList.Count == 1)
                    {
                    <p>Winner</p>
                    } else
                    {
                    <p>Winners</p>
                    }
                </div>
                @foreach (string winnerName in _winnerNameList) {
                <p>@winnerName</p>
                }
            </div>

            }
            }

            <div class="bet-detail">
                <label class="detail-label">Expiration Date:</label>
                <span class="detail-value">@_betPopup.Expiration.ToShortDateString()</span>
            </div>
            @if(_popupSelectedCases.Count > 0)
            {
            <div class="bet-detail">
                <label class="detail-label">Winning options: </label>
                @foreach (SelectedCase popupSelectedCase in _popupSelectedCases)
                {
                <span class="detail-value">
                                <input type="checkbox" @bind="popupSelectedCase.isSelected" disabled="@(_betPopup.State == State.Closed)" /> @popupSelectedCase._case.Casetype
                            </span>
                }
            </div>
            }
            <button class="btn btn-secondary" @onclick="HideDetailsPopup">Exit</button>
            @if (_betPopup.State != State.Closed)
            {
                <button class="btn btn-secondary" @onclick="SettleBet">Settle Bet</button>
                <button class="btn btn-secondary" id="copyButton" @onclick="CopyLinkToClipboard">Copy Invite Link!</button>
            <button class="btn btn-secondary" @onclick="CancelBet">Cancel Bet</button>
            <button class="btn btn-secondary" @onclick="DeleteBet">Delete Bet</button>
            }
        </div>

    </div>
</div>
}

<div id="betOverviewPage">
    <div id="betsCount">
        <h2>Total Bets: @(_filteredBets.Count)</h2>
    </div>
    <div id="creatNewBet">
        <h2>Create a new bet here</h2>
        <button class="new-bet-button" @onclick="ShowPopup">+ New Bet</button>
    </div>

    @* hier sind schon die checkboxen aber die werden später erste gerendert?!??!? *@
    <div class="check-box-line">
        <div class="bet-state">
            <label for="Accepted">Accepted Bets</label>
            <input type="checkbox" id="Accepted" @bind="DisplayAcceptedBets"/>
        </div>

        <div class="bet-state">
            <label for="Pending">Pending Bets</label>
            <input type="checkbox" id="Pending" @bind="DisplayPendingBets"/>
        </div>

        <div class="bet-state">
            <label for="Closed">Closed Bets</label>
            <input type="checkbox" id="Closed" @bind="DisplayClosedBets"/>
        </div>
    </div>

    @* Listing the bets of the user: *@
    <div id="allBets">
        <h2 class="bets-heading">Here are your bets:</h2>

        <div id="allBetsLayout">
            @foreach (var bet in _filteredBets)
            {
                BackgroundColorIndividualBet = string.Empty;
                BetIcon = string.Empty;
                if (bet.State == State.Active || bet.State == State.Pending) {
                    BackgroundColorIndividualBet = "indiBet-Orange";
                }

                if (bet.State == State.Pending) {
                    BetIcon = "icon-hourglass-split";
                }
                    
                if (bet.State == State.Closed){
                    BetResultText = string.Empty;
                    _winnersList = WinnerService.GetWinnersByBetId(bet.Id);
                    var loggedInUserBet = UserBetService.GetUserBetById(_loggedInUser.Id, bet.Id);

                    if (_winnersList == null || !_winnersList.Any())
                    {
                        BetResultText = "No one won this bet.";
                        BackgroundColorIndividualBet = "indiBet-Grey";
                    }
                    else if (_winnersList.Any(winner => winner.UserBet_Id == loggedInUserBet.Id))
                    {
                        BetResultText = $"Congratulations! {_loggedInUser.Name}! You are a Winner!";
                        BackgroundColorIndividualBet = "indiBet-Green";
                        BetIcon = "icon-trophy";
                    }
                    else
                    {
                        BetResultText = "You lost this bet.";
                        BackgroundColorIndividualBet = "indiBet-Grey";
                        BetIcon = "icon-lost-bet";
                    }
                }
                    
                <div id="individualBet" class=@BackgroundColorIndividualBet @onclick="() => ShowDetailsPopup(bet)">
                    <div class="bet-header">
                        @if (bet.State == State.Pending) {
                            
                            <strong class="detail-value">@bet.Title</strong><div class="icon-hourglass-split"></div>
                        }
                        
                        else if (bet.State == State.Closed){
                            var loggedInUserBet = UserBetService.GetUserBetById(_loggedInUser.Id, bet.Id);

                            BetIcon = _winnersList.Any(winner => winner.UserBet_Id == loggedInUserBet.Id) ? "icon-trophy" : "icon-lost-bet";
                            BetIcon = (_winnersList.Count == 0) ? "" : BetIcon;
                            <strong class="detail-value">@bet.Title</strong><span class=@BetIcon></span>
                        }
                        else {
                            <strong class="detail-value">@bet.Title</strong>
                        }
                    </div>
                    @if (bet.State == State.Closed) {
                        <strong><span class=@BetIcon></span> @BetResultText</strong>
                        <div class="bet-body">
                            <strong>Description:</strong> <div class="bet-body-value-description">@bet.Description</div>
                            @* <strong>State:</strong> <div class="bet-body-value">@bet.State.ToString()</div> *@
                            <strong>Total amount:</strong> <div class="bet-body-value">@getTotalAmount(bet)</div>
                        </div>
                    }
                    else {
                        <div class="bet-body">
                            <strong>Description:</strong> <div class="bet-body-value-description">@bet.Description</div>
                            <strong>Total amount:</strong> <div class="bet-body-value">@getTotalAmount(bet)</div>
                        </div>
                    }
                    <footer class="bet-footer">
                        <span class="bet-date"><strong>Created:</strong> @bet.Created.ToShortDateString()</span>
                        <span class="bet-date"><strong>Expires:</strong> @bet.Expiration.ToShortDateString()</span>
                    </footer>
                </div>
                
            }
        </div>
    </div>
</div>

<!-- Popup Form Creat New Bet-->
@if (_isPopupVisible)
{
    <div id="popup-overlay" class="active">
        <div id="popup-content" @onclick:stopPropagation="true">
            <h2 id="h2PopUpCreateNewBet">Create New Bet</h2>
            <div class="create-bet-container">
                <div class="form-group">
                    <label class="form-label">Title:</label>
                    <input type="text" class="form-input" @bind="_formBetDetails.NewBetTitle" placeholder="Enter bet title" />
                </div>
                <div class="form-group">
                    <label class="form-label">Description:</label>
                    <input type="text" class="form-input" @bind="_formBetDetails.NewBetDescription" placeholder="Enter bet description" />
                </div>
                <div class="form-group">
                    <label class="form-label">Bet Amount:</label>
                    <input type="number" class="form-input" @bind="_formBetDetails.NewBetMoney" placeholder="Enter amount" />
                </div>
                <div class="form-group">
                    <label class="form-label">Set Expiration Date:</label>
                    <input type="date" class="form-input" @bind="_formBetDetails.NewBetExpiration" min="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                </div>
                <div class="form-group">
                    <label>Your bet option</label><br/>
                    <input type="text" @bind="_formBetDetails.CaseBetCreator"/><br/><br/>

                    <label>Other possible bet options</label>
                    <form>
                        <div>
                            @for (int i = 0; i < _dynamicInputs.Count; i++)
                            {
                                int index = i;
                                <input type="text" @oninput="(e) => UpdateInputValue(index, e.Value.ToString())"/>
                                <br/>
                            }

                        </div>
                        @if (_dynamicInputs.Count != MaxFields)
                        {
                            <button type="button" @onclick="AddInputField">add bet option</button>
                        }
                    </form>

                </div>
                <div class="button-group">
                    <button class="btn btn-success create-button" @onclick="CreateNewBet">Create Bet</button>
                    <button class="btn btn-secondary cancel-button" @onclick="HidePopup">Cancel</button>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <br/>
                <br/>
                <div class="alert alert-danger">
                    @ErrorMessage
                </div>
            }

        </div>
    </div>
}


@code{

    private List<Bet> _bets = new();
    private bool _isPopupVisible;
    private bool _firstLogin = true;
    private bool _displayAcceptedBets { get; set; } = true;
    private bool DisplayAcceptedBets { get => _displayAcceptedBets;
        set
        {
            _displayAcceptedBets = value;
            FilterBets();
        }
    }
    private bool _displayPendingBets { get; set; } = true;
    private bool DisplayPendingBets
    {
        get => _displayPendingBets;
        set
        {
            _displayPendingBets = value;
            FilterBets();
        }
    }
    private bool _displayClosedBets { get; set; } = true;
    private bool DisplayClosedBets
    {
        get => _displayClosedBets;
        set
        {
            _displayClosedBets = value;
            FilterBets();
        }
    }
    private User? _loggedInUser = new();
    private FormBetDetails _formBetDetails = new();
    private string? ErrorMessage { get; set; }
    private int _totalAmount { get; set; }
    private bool _isDetailsPopupVisible;
    private string _inviteCode;
    private List<SelectedCase> _popupSelectedCases { get; set; } = new List<SelectedCase>();
    private Case? _popupUserCase { get; set; }
    private Winner? _popupDetailsWinner { get; set; }
    private List<Winner>? _winnersList { get; set; }
    private List<string> _winnerNameList { get; set; } = new List<string>();
    private string BetResultText { get; set; } 
    private string BackgroundColorIndividualBet { get; set; }
    private string BetIcon { get; set; }
    private List<Bet> _filteredBets { get; set; } = new List<Bet>();

    // Define properties and fields
    private static int MaxFields { get; set; } = 5;
    private List<string> _dynamicInputs = new List<string>(MaxFields);

    public double getTotalAmount(Bet bet)
    {
        return UserBetService.GetAllUserBetsFromBet(bet).Sum(userBet => userBet.Amount);
    }

    // Method to add a new input field
    private void AddInputField()
    {
        if (_dynamicInputs.Count < MaxFields)
        {
            _dynamicInputs.Add(string.Empty);
        }
        else
        {
            // Optionally alert the user if the max is reached
            Console.WriteLine("Maximum number of fields reached.");
        }
    }

    private void UpdateInputValue(int index, string value)
    {
        if (index >= 0 && index < _dynamicInputs.Count)
        {
            _dynamicInputs[index] = value;
        }
    }

    private void ResetFields()
    {
        _dynamicInputs.Clear(); // Clears all input fields
    }

    private Bet _betPopup = new();
    private UserBet _userbetPopup = new();
    public class FormBetDetails
    {
        public string NewBetTitle { get; set; } = null!;
        public string NewBetDescription { get; set; } = null!;
        public uint NewBetMoney { get; set; }
        public DateTime NewBetExpiration { get; set; } = DateTime.Now;
        public string CaseBetCreator { get; set; } = null!;
    }

    private void ShowPopup()
    {
        _isPopupVisible = true;
        _formBetDetails = new FormBetDetails();
        StateHasChanged();
    }
    
    private void ShowDetailsPopup(Bet bet)
    {
        _userbetPopup = UserBetService.GetUserBetById(_loggedInUser!.Id, bet.Id);
        _betPopup = bet;
        _inviteCode = Navigation.Uri + "invitation-code/" + _betPopup.Invitation_Code;
        _popupSelectedCases = new List<SelectedCase>();
        
        _winnersList = new List<Winner>();
        _winnerNameList = new List<string>();
        
        SelectedCase tempSelectedCase;
        List<Case> betCases = CaseService.GetCasesByBetId(_betPopup.Id);
        foreach (Case betCase in betCases)
        {
            tempSelectedCase = new SelectedCase(betCase, false);
            _popupSelectedCases.Add(tempSelectedCase);
            if (_userbetPopup.Case_Id == betCase.Id)
            {
                _popupUserCase = betCase;
            }
        }

        var maybeWinner = WinnerService.GetWinnerByUserBetIdIfExists(_userbetPopup.Id);
        if (maybeWinner != null)
        {
            _popupDetailsWinner = maybeWinner;
        }
        else
        {
            _popupDetailsWinner = null;
        }
        _winnersList = WinnerService.GetWinnersByBetId(_betPopup.Id);
        
        if (_winnersList.Count > 0)
        {
            List<UserBet> winnerUserBets = new List<UserBet>();
            _winnersList.ForEach(winner => { winnerUserBets.Add(UserBetService.GetUserBetById(winner.UserBet_Id)); });

            List<int> winnerCaseIds = new List<int>();
            List<User> users = new List<User>();
            winnerUserBets.ForEach(userBet =>
            {
                users.Add(UserService.GetUserById(userBet.User_Id)); 
                winnerCaseIds.Add(userBet.Case_Id);
            });

            users.ForEach(user => { _winnerNameList.Add(user.Name); });
            
            
            foreach (var selectedCase in _popupSelectedCases)
            {
                selectedCase.isSelected = winnerCaseIds.Contains(selectedCase._case.Id);
            }
            
        }
        _isDetailsPopupVisible = true;
        StateHasChanged();
    }

    private void HidePopup()
    {
        _isPopupVisible = false;
        StateHasChanged();
        ResetFields();
    }
    
    private void HideDetailsPopup()
    {
        _isDetailsPopupVisible = false;
        StateHasChanged();
    }


    private void CreateNewBet()
    {
        ErrorMessage = string.Empty;

        if (string.IsNullOrWhiteSpace(_formBetDetails.NewBetTitle) ||
            string.IsNullOrWhiteSpace(_formBetDetails.NewBetDescription) ||
            _formBetDetails.NewBetMoney <= 0)
        {
            ErrorMessage = "Please fill out all fields correctly before creating a new bet.";
            return;
        }
        
        if (_formBetDetails.NewBetExpiration < DateTime.Now.Date || _formBetDetails.NewBetExpiration == default)
        {
            ErrorMessage = "The expiration date cannot be in the past.";
            return;
        }

        var newBet = new Bet
        {
            Title = _formBetDetails.NewBetTitle,
            Description = _formBetDetails.NewBetDescription,
            Invitation_Code = Guid.NewGuid().ToString(),
            Created = DateTime.Now,
            Expiration = _formBetDetails.NewBetExpiration,
            Access = Access.Private,
            State = State.Pending
        };
        if (_loggedInUser == null) return;

        try
        {
            // creating Bet, then Case, then UserBet
            var createdBet = BetService.CreateBet(newBet);


            UserBet userBet = new UserBet();
            userBet.Bet_Id = createdBet.Id;
            userBet.User_Id = _loggedInUser.Id;
            userBet.Amount = _formBetDetails.NewBetMoney;
            var creatorcaseId = CaseService.CreateCase(new Case(createdBet.Id, _formBetDetails.CaseBetCreator));
            userBet.Case_Id = creatorcaseId;
            UserBetService.CreateUserBet(userBet);
            
            // creating all other cases
            for (var i = 0; i < _dynamicInputs.Count; i++)
            {
                CaseService.CreateCase(new Case(createdBet.Id, _dynamicInputs[i]));
            }
        }
        catch (Exception)
        {
            Console.WriteLine("BetOverview: service failed");
        }

        HidePopup();
        RenderData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        var value = await CookieService.GetCookieByName("CookieID");
        if (_firstLogin)
        {
            _loggedInUser = UserService.GetUserIfPasswordExists(value);
            if (_loggedInUser != null)
            {
                _firstLogin = false;
                RenderData();
            }
        }
    }

    void RenderData()
    {
        try
        {
            if (_loggedInUser == null) return;
            _bets = BetService.GetBetsByUserId(_loggedInUser.Id);
            _bets.ForEach(bet =>
            {
                if (bet.Expiration.Date < DateTime.Now.Date)
                {
                    bet.State = State.Closed;
                    BetService.UpdateBet(bet);
                }
            });
            FilterBets();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"BetOverview: Error fetching bets - {ex.Message}");
        }
    }
    
    private async Task CopyLinkToClipboard()
    {
        await JsRuntime.InvokeVoidAsync("copyToClipboard", _inviteCode);
    }

    public void SettleBet()
    {
        List<int> idsFromSelectedCases = new List<int>();
        foreach (SelectedCase popupSelectedCase in _popupSelectedCases)
        {
            if(popupSelectedCase.isSelected) idsFromSelectedCases.Add(popupSelectedCase._case.Id);
        }
        BetSettlingService.SettleBet(_betPopup, idsFromSelectedCases.ToArray());
        FilterBets();
        _isDetailsPopupVisible = false;
    }

    public void CancelBet()
    {
        UserBet popupUserbet = UserBetService.GetUserBetById(_loggedInUser.Id, _betPopup.Id);
        BetSettlingService.CloseBet(popupUserbet);
        _isDetailsPopupVisible = false;
        RenderData();
    }

    public void DeleteBet()
    {
        // delete winner, userbet, case and then bet
        List<Winner> winnerOfBet = WinnerService.GetWinnersByBetId(_betPopup.Id);
        winnerOfBet.ForEach(winner => { WinnerService.DeleteWinner(winner.Id);});
        List<UserBet> userBetsOfBet = UserBetService.GetAllUserBetsFromBet(_betPopup);
        userBetsOfBet.ForEach(userBet => { UserBetService.DeleteUserBet(userBet);});
        CaseService.DeleteCasesOfBetId(_betPopup.Id);
        BetService.DeleteBet(_betPopup.Id);
        _isDetailsPopupVisible = false;
        RenderData();
    }

    public class SelectedCase
    {
        public Case _case;
        public bool isSelected = false;

        public SelectedCase(Case selectedCase, bool selected)
        {
            _case = selectedCase;
            isSelected = selected;
        }
    }

    private void FilterBets()
    {
        _filteredBets = _bets.Where(bet =>
            (bet.State == State.Active && DisplayAcceptedBets) ||
            (bet.State == State.Closed && DisplayClosedBets) ||
            (bet.State == State.Pending && DisplayPendingBets))
            .ToList();
    }
}
